img {
    height: 275px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    background-color:#91332f;
    color: #ffd100;

}

body {
    background-color: #10382b;
    color: #ffd100;
    font-size: large
}