h1 {
    color: #ffd100;
    background-color: #91332f;
    text-align: center;
    border-radius: 25px;
}

.link {
    color: #ffd100;
    font-size: 30px;
    text-decoration: underline;
    text-decoration-color:rgb(8, 182, 66)
}

img {
    height: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #10382b;
}